* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 0.5fr 400px 0.5fr;
    text-align: center;
    font-family: 'Silkscreen';
    height: 100vh;
    background-color: rgb(221, 255, 244);
}

#game-board {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#game-board div {
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 0 0 0 2px;
    color:rgb(7, 113, 79);
    font-size: 60px;
}

#game-board div:hover {
    background-color: rgb(17, 168, 117);
    border-radius: 10px;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#left-panel.side-panel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#left-panel.side-panel h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#left-panel.side-panel .score {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#left-panel.side-panel .choose-character-dropdown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#right-panel.side-panel {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#right-panel.side-panel h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#right-panel.side-panel .score {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#right-panel.side-panel .choose-character-dropdown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


#footer-reset {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#restart {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: url(baseline_restart_alt_black_24dp.png) no-repeat;
    margin: 0 0 0 40px;
    border: 0;
}

/* #popup-settings {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    /*  https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp --> how to display dropdown
*/


.dropbtn1 {
    float: left;
    font-size: 16px;
    overflow: hidden;
    border: none;
    color: rgb(15, 106, 76);
    font-family: 'Silkscreen';
    background-color: transparent
}

.dropbtn2 {
    float: right;
    font-size: 16px;
    overflow: hidden;
    border: none;
    color: rgb(15, 106, 76);
    font-family: 'Silkscreen';
    background-color: transparent
}

.bart-token {
    object-fit: contain;
}

#homer-token {
    background: url(homer-for-cell.png);
    object-fit: contain;
}
#popup-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(12, 68, 49, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    color:rgb(40, 201, 147);
    font-size: 5rem; 
    font-family: 'Silkscreen';
} 



/* TRYING TO ADD THEMES */

/* #footer-nav {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    position: absolute;
} */

#theme-icon {
    padding-right: 10px;
    cursor: pointer;
}

.theme-icon:hover {
    transform: rotate(180)
}

#theme-menu {
    background-color: #008F9F;
    color: #F2F2F2;
    height: 100%;
    top: 8%;
    right: 0; 
    position: absolute;
    width: 0px; 
    transition: width 0.7s;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}

#theme-header {
    position: relative;
    /* color: #F2F2F2; */
    top: 10px;
    left: 5px;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

#theme-list {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: 4px;
    cursor: pointer;
    padding: 5px 0px 5px 15px;
    width: 145px;
    position: relative;
}

li:hover {
    filter:brightness(80%)
}

.hide {
    display: none;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40%;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	left: 0.1px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 30px;
	transition: 0.3s;
}

input:checked + label:after {
	left: calc(100%);
	transform: translateX(-100%);
}


.theme-show {
    width: 160px;
    display: flex;
    right: 0;
}




/* .winning-message {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 56, 40, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(33, 188, 136);
    font-size: 5rem; 
    font-family: 'Silkscreen';
} */

/* .dropdown-content .char-list {
    width: 100px;
    height: 300px;
} */

