* {
    box-sizing: border-box;
    border: 1px solid goldenrod;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 0.5fr 400px 0.5fr;
    text-align: center;
    font-family:'Silkscreen';
    height: 100vh;
    background-color: rgb(221, 255, 244);
}

#game-board {
    display: grid;  
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#game-board div {
  background-color: aquamarine;
  border-radius: 10px;
  

}

#game-board div:hover {
    background-color: rgb(33, 188, 136);
    border-radius: 10px;
    
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#left-panel.side-panel {
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
}

#right-panel.side-panel {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#footer-nav {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
